.header{
    height: 50px;
    width: 500px;
    background-color: black;
    
    
    
}
.body{
    color: rgb(255, 254, 254);
   text-align: center;
    
}
.hero{
    height: 150px;
    width: 500px;
    background-color: blue;
}
.menu{
    height: 400px;
    width: 150px;
    background-color: brown;
}
.content1{
    height:200px;
    width: 350px;
    background-color: rgb(20, 15, 53);
}
.content2{
    height:100px;
    width: 350px;
    background-color: rgb(219, 217, 68);
}
.main{
    display: flex;
}
.extra{
    height: 100px;
    width: 250px;
    background-color: rgb(42, 218, 144);
}
.photo{
    height: 100px;
    width: 100px;
    background-color: rgb(163, 226, 255);
}
.image{
    display: flex;
}

