*{
    margin:0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}.body{
    background-image: url("walker.jpg");
    width: 1600px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 2cm;
}
.ele{
    
    font-size: 20px;
    
}
.grax{
    font-size: 30px;
}
.content{
    padding: 2cm;
    margin-top:50px;
}
h1{
    font-size: 60px;
    margin-bottom: 0.5cm;
}

b{
    color: red;
}
ul{
    list-style: none;
    display: flex;
    gap: 1cm;
}
/* unvisited link */
a:link {
    color: rgb(216, 27, 27);
    text-decoration: unset;
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 32, 25);
    text-decoration: unset;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: unset;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: unset;
  }
  